body {
    background-color: #FFFDD0;
    color: black;
    font-family: "Raleway",helvetica;
    }

.text {
    border: 3px solid #D2B48C;
    padding: 15px;
    margin: 20px;
    background-color: white; 
    }
.example {
    display: inline-block;
    border: 3px solid #964B00;
    padding: 15px;
    width: 70%;
    margin-left: 75px;
    background-color: grey;
    order: 2;
    }
.vert {
    display: inline-block;
    height: 50px;
    transform: rotate(335deg);
    padding-left: 0px;
    margin-left: 60px;
    position: absolute;
    }